*{
    margin:0px;
}
body{
    background-image:url("https://raw.githubusercontent.com/FranciscaMora/scl-2018-11-bc-core-cipher/gh-pages/src/img/background.jpg");
    background-position: top;
    background-size: auto;
    width:100%;
    height: 100%;
    background-attachment: fixed;
}

#instructions1{
    
    width:700px;
    height:300px;
    background-color: gray;
    padding: 18px;
    color: black;
    opacity: 0.8;
    margin-left:250px;
    margin-top:150px;
    text-align: center;
    

}

#intro2P{
    width:700px;
    height:300px;
    background-color: gray;
    padding: 18px;
    color: black;
    opacity: 0.8;
    margin-left:250px;
    margin-top:150px;
    text-align: center;
}

#mainTitle{
    font-family: 'Anton', sans-serif;
    text-align: left;
    margin-top: 200px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;

}

#slogan{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #014706;
}
#botonInicio{
    margin-left: 2px;
    margin-top: 16px;
}

#btnSomos{
    margin-left:43px;
    border-radius: 10px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
    width: 160px;
    height: 40px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    font-size: 16px;
    }

#instrucciones9{
    margin-left: 28px;
    border-radius: 10px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
    width: 160px;
    height: 40px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    font-size: 19px;
}

#btnStart3{
    margin-left: 28px;
    border-radius: 10px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
    width: 160px;
    height: 40px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    font-size: 19px;
    margin-top:40px;
}
#btnStart2{
    margin-left: 28px;
    border-radius: 10px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
    width: 160px;
    height: 40px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    font-size: 19px;
}

#btnInstructions{
    margin-left: 28px;
    border-radius: 10px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
    width: 160px;
    height: 40px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    font-size: 19px;
    }

#btnStart{
    margin-left: 28px;
    border-radius: 10px;
    color: white;
    background-color:rgb(30, 132, 73);
    border-color: rgb(20, 90, 50);
    width: 180px;
    height: 50px;
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px 2px black;
    margin-left: 959px;
    margin-top: -9px;
    font-size: 19px;
}

#links1{
    margin-top: 0px;
    margin-left: 197px;
    display: inline;


}

#links{
    margin-top:220px;
    background-color: rgb(20, 90, 50);
    height: 50px;

}


#pageOne{
    width:70%;
    height:70%;
    background-color: gray;
    padding: 18px;
    color: black;
    opacity: 0.8;
    margin-left:190px;
    margin-top:90px;
}


#codeBox{
    width: 400px;
    height: 100px;
    text-align: center;
    margin-right: 230px;
    margin-left: 240px;

}

#btnCode{
    margin-left: 350px;
    margin-top: 20px;
    background-color:rgb(30, 132, 73);
    border-color: rgb(20, 90, 50);
    color:#ffff;

}

#btnDecode{
    background-color:rgb(30, 132, 73);
    border-color: rgb(20, 90, 50);
    color:#ffff;
}

#decodeBox{
    width:400px;
    height:100px;
    margin-left: 240px;
    margin-top: 40px;
    color:black;
}

#btnHome{
    margin-top: 5px;
    margin-right: 85%;
}

#letStart{
    text-align: center;
    margin-top:-70px;
}

#clear{
    margin-left:380px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
}

#btnSend{
    margin-left: 340px;
    margin-top: 15px;
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
}

#btnCopy{
    color: white;
    background-color: rgb(136, 78, 160);
    border-color:rgb(74, 35, 90);
<<<<<<< HEAD
}
=======
}
>>>>>>> gh-pages
